$theme_font: var(--theme-font);
$color_black: var(--color-black);
$color_primary: var(--color-primary);
$color_thard: var(--color-thard);
$color_body: var(--color-body);
$color_white: var(--color-white);