/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/

:root {
    --theme-font: 'Jost', sans-serif;
    --color-black: #18181B;
    --color-primary: #8571FF;
    --color-thard: #F1EFFC;
    --color-body: #767C84;
    --color-white: #ffffff;
}

// Variable

@import "./variable/variable";

/*--------------------------------------------------------------
# Default
--------------------------------------------------------------*/

@import "./default";

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

@import "./preloader";

/*--------------------------------------------------------------
# HEADER CSS
--------------------------------------------------------------*/

@import "./header/header";


/*--------------------------------------------------------------
# POST ITEMS CSS
--------------------------------------------------------------*/

@import "./post/post-items";

/*--------------------------------------------------------------
# POST NAVICATION CSS
--------------------------------------------------------------*/

@import "./post/post-navication";

/*--------------------------------------------------------------
# FOOTER CSS
--------------------------------------------------------------*/

@import "./footer";



/*--------------------------------------------------------------
# Theme Colors
--------------------------------------------------------------*/

@import "./colors";